@font-face {
  font-family: "NanumSquare";
  font-display: swap;
  font-weight: 300;
  src: url('~@/assets/fonts/NanumSquareL.woff2') format('woff2'),
       url('~@/assets/fonts/NanumSquareL.woff') format('woff'),
       url('~@/assets/fonts/NanumSquareL.ttf') format('truetype'),
       url('~@/assets/fonts/NanumSquareL.otf') format('opentype');
}

@font-face {
  font-family: "NanumSquare";
  font-display: swap;
  font-weight: 400;
  src: url('~@/assets/fonts/NanumSquareR.woff2') format('woff2'),
       url('~@/assets/fonts/NanumSquareR.woff') format('woff'),
       url('~@/assets/fonts/NanumSquareR.ttf') format('truetype'),
       url('~@/assets/fonts/NanumSquareR.otf') format('opentype');
}

@font-face {
  font-family: "NanumSquare";
  font-display: swap;
  font-weight: 600;
  src: url('~@/assets/fonts/NanumSquareB.woff2') format('woff2'),
       url('~@/assets/fonts/NanumSquareB.woff') format('woff'),
       url('~@/assets/fonts/NanumSquareB.ttf') format('truetype'),
       url('~@/assets/fonts/NanumSquareB.otf') format('opentype');
}

@font-face {
  font-family: "NanumSquare";
  font-display: swap;
  font-weight: 800;
  src: url('~@/assets/fonts/NanumSquareEB.woff2') format('woff2'),
       url('~@/assets/fonts/NanumSquareEB.woff') format('woff'),
       url('~@/assets/fonts/NanumSquareEB.ttf') format('truetype'),
       url('~@/assets/fonts/NanumSquareEB.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');